div.container-indicators
    div.indicators-content
        each className, index in ['first-indicators','second-indicators','third-indicators','fourth-indicators','fifth-indicators', 'sixth-indicators']
            if index === 0
                div(class=className)
                    h1 50
                    span Лендингов
            if index === 1
                div(class=className)
                    h1 30
                    span Фирменных стилей
            if index === 2
                div(class=className)
                    h1 200
                    span SEO-продвижений
            if index === 3
                div(class=className)
                    h1 150
                    span Комплексных аудитов
            if index === 4
                div(class=className)
                    h1 70
                    span Медийный компаний
            if index === 5
                div(class=className)
                    h1 0
                    span Недовольных клиентов