div.container-about-us
    each className, index in ['one-block-about-us', 'two-block-about-us', 'three-block-about-us']
        if index === 0
            div(class=className)
                div.block-text-about-us
                    img.about-us-img(src=require('./img/icon1.svg'))
                    div.circle
                    div.line
                    div.text-about-us
                        h1 3 года
                        span Информацию обо всех посетителях сайта собирают системы аналитики, формируя для вас отчет по геопозиции, действиях, длительности пребывания на сайте, полу, возрасту, и даже интересах на основании данных из соцсетей.
                        span Информацию обо всех посетителях сайта собирают системы аналитики, формируя для вас отчет по геопозиции, действиях, длительности пребывания на сайте, полу, возрасту, и даже интересах на основании данных из соцсетей.
        if index === 1
            div(class=className)
                div.block-text-about-us
                    div.text-about-us
                        h1 30 человек
                        span Информацию обо всех посетителях сайта собирают системы аналитики, формируя для вас отчет по геопозиции, действиях, длительности пребывания на сайте, полу, возрасту, и даже интересах на основании данных из соцсетей.
                        span Информацию обо всех посетителях сайта собирают системы аналитики, формируя для вас отчет по геопозиции, действиях, длительности пребывания на сайте, полу, возрасту, и даже интересах на основании данных из соцсетей.
                    div.line
                    div.circle
                    img.about-us-img(src=require('./img/icon2.svg'))
        if index === 2
            div(class=className)
                div.block-text-about-us
                    img.about-us-img(src=require('./img/icon3.svg'))
                    div.circle
                    div.line
                    div.text-about-us
                        h1 60 продуктов
                        span Информацию обо всех посетителях сайта собирают системы аналитики, формируя для вас отчет по геопозиции, действиях, длительности пребывания на сайте, полу, возрасту, и даже интересах на основании данных из соцсетей.
                        span Информацию обо всех посетителях сайта собирают системы аналитики, формируя для вас отчет по геопозиции, действиях, длительности пребывания на сайте, полу, возрасту, и даже интересах на основании данных из соцсетей.