extends ../../components/head/head
block title
    | about_us

block main
    div.main
        div.opacity
        include ../../components/menu/menu
        div.container-form
            include ../../components/form/form
            +create_form("form")
        include ../../components/mobile-menu/mobile-menu
        include ../../components/header/header
        div.container-greeting
            div.greeting
                div.greeting-text
                    h1.greeting-title Привет,
                    h1.greeting-title меня зовут Никита Кузнецов
                    span Мы команда специалистов с опытом работы в крупных проектах, каждый их которых ни раз доказал на практике способность находить изящные и эффективные решения в сложных ситуациях.
                    span Мы используем маркетинг, чтобы вы смогли получить не просто успешный проект, но и полный контроль над его судьбой! На страницах нашего сайта мы расскажем, как именно мы это сделаем.
                    h2 Теперь, от слов к нашим делам KUZNETCOV.TEAM, это:
                div.greeting-photo
                    img(src=require('./img/photo.png'))
                div.rectangel
        include ../../components/block-about-us/block-about-us
        include ../../components/indicators/indicators
        div.project-carousel
            h1 Здесь может быть ваша компания
            div.container-carousel
                div.swiper-container.portfolio
                    div.swiper-wrapper
                        img.swiper-slide(src=require('./img/slider/one-slide.png'))
                        img.swiper-slide(src=require('./img/slider/two-slide.png'))
                        img.swiper-slide(src=require('./img/slider/three-slide.png'))
                        img.swiper-slide(src=require('./img/slider/four-slide.png'))
                        img.swiper-slide(src=require('./img/slider/fifth-slide.png'))
                        img.swiper-slide(src=require('./img/slider/sixth-slide.png'))
                        img.swiper-slide(src=require('./img/slider/seventh-slide.png'))
                    div.naw-arrow
                        div.swiper-button-prev.portfolio-prev
                        div.swiper-button-next.portfolio-next